

  .header {
    height: 100vh;
    width: auto;
    background-image: url('/public/img/banner.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
  }
  
  .logo {
    font-weight: bold;
    font-size: 1.5rem;
    color: white;
    text-decoration: none;
  }
  
  .hamburger {
    display: none;
    font-size: 1.5rem;
    color: white;
    cursor: pointer;
  }
  
  .nav {
    display: flex;
  }
  
  .navList {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .navItem {
    margin-left: 1rem;
  }
  
  .navLink {
    color: white;
    text-decoration: none;
    padding: 0.5rem 1rem;
  }
  
  .navLink:hover {
    background-color: #555;
    border-radius: 4px;
  }
 .bannerText{
        position: absolute;
        left: 40px;
        text-align: left;
    }

  .bannertitle{
    left: 60px;
    font-size: 66px;

  }
  .bannerdesc{
    color: FFFFFF;
    font-size: 26px;
    color: #FFFFFF;
  }

  .GetYourOrder{
    background-color: #F3F04B;
    color: #655959;
    font-size: 36px;
    height: 78px;
    width: 342px;
    border-radius: 15px;
    border: none;
  }

  .GetYourOrder:hover{
    background-color: #222821;
    color: #ffffff;
    font-size: 36px;
    height: 78px;
    width: 342px;
    border-radius: 15px;
    border: none;
  }
  
  /* Responsive styles */
  @media (max-width: 768px) {
    
    .bannerText{
        position: absolute;
        left: 40px;
        top: -0px;
        text-align: center;
    }
    .bannerdesc{
        color: FFFFFF;
        font-size: 20px;
        color: #FFFFFF;
      }
      
    .container {
      flex-direction: column;
      align-items: flex-start;
      
    }
  
    .hamburger {
      display: block;
    }
  
    .nav {
      display: none;
      width: 100%;
    }
  
    .nav.show {
      display: flex;
      flex-direction: column;
    }
  
    .navList {
      flex-direction: column;
      width: 100%;
    }
  
    .navItem {
      margin-left: 0;
      width: 100%;
    }
  
    .navLink {
      display: block;
      width: 100%;
      text-align: center;
      padding: 1rem 0;
    }
  }